In [27]:
import pandas as pd
from datetime import datetime, timedelta
import numpy as np

In [28]:
# 24:00을 시계열 자료형으로 변환하는 함수
def zerofrom24(datetime, _format):
    datetime = str(datetime)
    try:
        return pd.to_datetime(datetime, format = _format)
    except:
        datetime = datetime[:-5] + '00:00'
        return pd.to_datetime(datetime, format = _format)+ timedelta(days=1)

In [29]:
# 기상정보 가져오기(기온, 강수, 풍속 등)
df_temp_2018 = pd.read_csv('./data/기상2018년.csv', encoding='cp949')
df_temp_2019 = pd.read_csv('./data/기상2019년.csv', encoding='cp949')
df_temp_2020 = pd.read_csv('./data/기상2020년.csv', encoding='cp949')
df_temp_2021 = pd.read_csv('./data/기상2021년.csv', encoding='cp949')
df_temp_2022 = pd.read_csv('./data/기상2022년.csv', encoding='cp949')
df_temp_2023 = pd.read_csv('./data/2023년2월기상데이터.csv', encoding='cp949')

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_7100\270997152.py:2: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp_2018 = pd.read_csv('./data/기상2018년.csv', encoding='cp949')
C:\Users\tjoeun\AppData\Local\Temp\ipykernel_7100\270997152.py:3: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp_2019 = pd.read_csv('./data/기상2019년.csv', encoding='cp949')
C:\Users\tjoeun\AppData\Local\Temp\ipykernel_7100\270997152.py:4: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp_2020 = pd.read_csv('./data/기상2020년.csv', encoding='cp949')
C:\Users\tjoeun\AppData\Local\Temp\ipykernel_7100\270997152.py:5: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp_2021 = pd.read_csv('./data/기상2021년.csv', encoding='cp949')
C:\Users\tjoeun\AppData\Local\Temp\ipykernel_7100\270997152.py:6: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp_2022 = pd.read_csv('./data/기상2022년.csv', encoding='cp949')

In [30]:
# 데이터 결합
df_temp = pd.concat([df_temp_2018, df_temp_2019, df_temp_2020, df_temp_2021, df_temp_2022,df_temp_2023], axis=0)

In [31]:
# 일시 컬럼을 시계열 자료형으로 변경
df_temp['일시'] = pd.to_datetime(df_temp['일시'], format='%Y%m%d %H:%M')

In [32]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4228195 entries, 0 to 63744
Data columns (total 19 columns):
 #   Column     Dtype
---  ------     -----
 0   지점         int64
 1   지점명        object
 2   일시         datetime64[ns]
 3   기온(°C)     float64
 4   강수량(mm)    float64
 5   풍속(m/s)    float64
 6   풍향(16방위)   float64
 7   습도(%)      float64
 8   현지기압(hPa)  float64
 9   해면기압(hPa)  float64
 10  일조(hr)     float64
 11  일사(MJ/m2)  float64
 12  적설(cm)     float64
 13  전운량(10분위)  float64
 14  운형(운형약어)   object
 15  증기압(hPa)   float64
 16  이슬점온도(°C)  float64
 17  시정(10m)    float64
 18  지면온도(°C)   float64
dtypes: datetime64[ns](1), float64(15), int64(1), object(2)
memory usage: 645.2+ MB

In [53]:
# 대기정보 가져오기(미세먼지, 초미세먼지, 이산화탄소, 일산화탄소, 아황산가스 농도)
df_airinfo = pd.read_csv('./data/예측용관측소_수정.csv')

In [54]:
df_airinfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15648 entries, 0 to 15647
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지점명     15648 non-null  object
 1   일시      15648 non-null  object
 2   PM10    14611 non-null  float64
 3   PM2.5   14611 non-null  float64
 4   O3      14722 non-null  float64
 5   NO2     14723 non-null  float64
 6   CO      14534 non-null  float64
 7   SO2     14681 non-null  float64
dtypes: float64(6), object(2)
memory usage: 978.1+ KB

In [55]:
# 일시 컬럼을 시계열 자료형으로 변경
df_airinfo['일시'] = df_airinfo['일시'].apply(lambda x: zerofrom24(x, '%Y%m%d %H:%M'))

In [56]:
# 타입변경이 이루어진 데이터를 저장
df_airinfo.to_csv('./data/예측용관측소_타입변경.csv', index=False)

In [57]:
# 대기정보 가져오기
df_airinfo = pd.read_csv('./data/예측용관측소_타입변경.csv')

In [58]:
df_airinfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15648 entries, 0 to 15647
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지점명     15648 non-null  object
 1   일시      15648 non-null  object
 2   PM10    14611 non-null  float64
 3   PM2.5   14611 non-null  float64
 4   O3      14722 non-null  float64
 5   NO2     14723 non-null  float64
 6   CO      14534 non-null  float64
 7   SO2     14681 non-null  float64
dtypes: float64(6), object(2)
memory usage: 978.1+ KB

In [59]:
# 일시 컬럼을 시계열 자료형으로 변경
df_airinfo['일시'] = pd.to_datetime(df_airinfo['일시'], format='%Y%m%d %H:%M')

In [60]:
# 기상정보와 대기정보 데이터를 지점명과 일시를 기준으로 결합
df = pd.merge(df_temp, df_airinfo, how='left', left_on=['지점명', '일시'], right_on=['지점명', '일시'])

In [61]:
df.columns

Index(['지점', '지점명', '일시', '기온(°C)', '강수량(mm)', '풍속(m/s)', '풍향(16방위)', '습도(%)',
       '현지기압(hPa)', '해면기압(hPa)', '일조(hr)', '일사(MJ/m2)', '적설(cm)', '전운량(10분위)',
       '운형(운형약어)', '증기압(hPa)', '이슬점온도(°C)', '시정(10m)', '지면온도(°C)', 'PM10',
       'PM2.5', 'O3', 'NO2', 'CO', 'SO2'],
      dtype='object')

In [62]:
# 강수량과 적설 컬럼의 결측치를 0으로 채우기
df['강수량(mm)'].fillna(0, inplace=True)
df['적설(cm)'].fillna(0, inplace=True)
df['일조(hr)'].fillna(0, inplace=True)

In [63]:
# 필요없는 컬럼 제거
df.drop(columns=['일사(MJ/m2)', '운형(운형약어)'], inplace=True)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4228195 entries, 0 to 4228194
Data columns (total 23 columns):
 #   Column     Dtype
---  ------     -----
 0   지점         int64
 1   지점명        object
 2   일시         datetime64[ns]
 3   기온(°C)     float64
 4   강수량(mm)    float64
 5   풍속(m/s)    float64
 6   풍향(16방위)   float64
 7   습도(%)      float64
 8   현지기압(hPa)  float64
 9   해면기압(hPa)  float64
 10  일조(hr)     float64
 11  적설(cm)     float64
 12  전운량(10분위)  float64
 13  증기압(hPa)   float64
 14  이슬점온도(°C)  float64
 15  시정(10m)    float64
 16  지면온도(°C)   float64
 17  PM10       float64
 18  PM2.5      float64
 19  O3         float64
 20  NO2        float64
 21  CO         float64
 22  SO2        float64
dtypes: datetime64[ns](1), float64(20), int64(1), object(1)
memory usage: 774.2+ MB

In [65]:
# 결측값이 있는 행 제거
df.dropna(inplace=True)

In [66]:
# 중복행 제거
df.drop_duplicates(inplace=True)

In [67]:
# 인덱스 정렬
df = df.set_index(['지점명', '일시']).reset_index()

In [68]:
# '월' 컬럼 추가
df['월'] = df['일시'].dt.month

In [69]:
# 전날 기온 컬럼 추가
df['전날기온'] = ''
for i in range(24, len(df)):
    df.loc[i, '전날기온'] = df.loc[i-24, '기온(°C)']
df = df.iloc[24:,:]
df['전날기온'] = df['전날기온'].astype('float')

In [70]:
# 강수량(mm) 컬럼을 강수여부 범주형 변수로 변환
df['강수량(mm)'] = np.where(df['강수량(mm)'] != 0, '1', '0')
df.rename(columns={'강수량(mm)':'강수여부'}, inplace=True)

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5981 entries, 24 to 6004
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지점명        5981 non-null   object
 1   일시         5981 non-null   datetime64[ns]
 2   지점         5981 non-null   int64
 3   기온(°C)     5981 non-null   float64
 4   강수여부       5981 non-null   object
 5   풍속(m/s)    5981 non-null   float64
 6   풍향(16방위)   5981 non-null   float64
 7   습도(%)      5981 non-null   float64
 8   현지기압(hPa)  5981 non-null   float64
 9   해면기압(hPa)  5981 non-null   float64
 10  일조(hr)     5981 non-null   float64
 11  적설(cm)     5981 non-null   float64
 12  전운량(10분위)  5981 non-null   float64
 13  증기압(hPa)   5981 non-null   float64
 14  이슬점온도(°C)  5981 non-null   float64
 15  시정(10m)    5981 non-null   float64
 16  지면온도(°C)   5981 non-null   float64
 17  PM10       5981 non-null   float64
 18  PM2.5      5981 non-null   float64
 19  O3         5981 non-null   float64
 20  NO2        5981 non-null   float64
 21  CO         5981 non-null   float64
 22  SO2        5981 non-null   float64
 23  월          5981 non-null   int64
 24  전날기온       5981 non-null   float64
dtypes: datetime64[ns](1), float64(20), int64(2), object(2)
memory usage: 1.1+ MB

In [72]:
df.to_csv('./data/예측용기상대기정보.csv', index=False)

,지점명,일시,지점,기온(°C),강수여부,풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),해면기압(hPa),...,시정(10m),지면온도(°C),PM10,PM2.5,O3,NO2,CO,SO2,월,전날기온
24,울릉도,2023-02-01 04:00:00,115,5.4,0,8.1,250.0,69.0,984.5,1011.4,...,2495.0,1.4,49.0,24.0,0.043,0.009,0.4,0.002,2,5.5
25,울릉도,2023-02-01 04:00:00,115,5.4,0,8.1,250.0,69.0,984.5,1011.4,...,2495.0,1.4,50.0,25.0,0.062,0.005,0.2,0.002,2,5.5
26,울릉도,2023-02-01 04:00:00,115,5.4,0,8.1,250.0,69.0,984.5,1011.4,...,2495.0,1.4,38.0,25.0,0.001,0.058,1.4,0.004,2,5.5
27,울릉도,2023-02-01 04:00:00,115,5.4,0,8.1,250.0,69.0,984.5,1011.4,...,2495.0,1.4,30.0,10.0,0.049,0.007,0.4,0.002,2,5.5
28,울릉도,2023-02-01 04:00:00,115,5.4,0,8.1,250.0,69.0,984.5,1011.4,...,2495.0,1.4,44.0,25.0,0.040,0.007,0.6,0.003,2,5.5