In [45]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

df=pd.read_csv('C:/Users/tjoeun/Desktop/송수린/workspace/weather_project/관측소별 결합 데이터/관측소2018~2022.csv')

In [46]:
df.head()

  지점명                일시  PM10  PM2.5   Ozon    CO2   CO    SO2
0  강릉  2018-01-01 01:00  15.0    NaN  0.029  0.007  0.4  0.003
1  강릉  2018-01-01 02:00  21.0    NaN  0.029  0.007  0.4  0.003
2  강릉  2018-01-01 03:00  14.0    NaN  0.029  0.007  0.4  0.003
3  강릉  2018-01-01 04:00  13.0    NaN  0.029  0.006  0.4  0.003
4  강릉  2018-01-01 05:00  15.0   10.0  0.029  0.006  0.4  0.003

In [47]:
df1=df[['PM10','PM2.5']]

In [48]:
df1=df.dropna()

In [49]:
df

        지점명                일시  PM10  PM2.5   Ozon    CO2   CO    SO2
0        강릉  2018-01-01 01:00  15.0    NaN  0.029  0.007  0.4  0.003
1        강릉  2018-01-01 02:00  21.0    NaN  0.029  0.007  0.4  0.003
2        강릉  2018-01-01 03:00  14.0    NaN  0.029  0.007  0.4  0.003
3        강릉  2018-01-01 04:00  13.0    NaN  0.029  0.006  0.4  0.003
4        강릉  2018-01-01 05:00  15.0   10.0  0.029  0.006  0.4  0.003
...      ..               ...   ...    ...    ...    ...  ...    ...
1362610  홍천  2022-12-31 21:00  53.0   48.0  0.008  0.030  0.6  0.002
1362611  홍천  2022-12-31 22:00  49.0   42.0  0.010  0.025  0.6  0.002
1362612  홍천  2022-12-31 23:00  44.0   35.0  0.004  0.032  0.7  0.002
1362613  홍천  2022-12-31 24:00  53.0   45.0  0.002  0.033  0.8  0.002
1362614  홍천  2023-01-01 01:00  60.0   50.0  0.003  0.026  0.8  0.002

[1362615 rows x 8 columns]

In [50]:
x=df1['PM10']
y=df1['PM2.5']
stats.linregress(x, y)
# PM2.5=4.8+0.394*PM10

LinregressResult(slope=0.39559927444992976, intercept=4.780943619270962, rvalue=0.7516370180538008, pvalue=0.0, stderr=0.00034470687238613844, intercept_stderr=0.016147731960777935)

In [51]:
x=df1['PM2.5']
y=df1['PM10']
stats.linregress(x, y)
# PM10=8.65+1.433*PM2.5

LinregressResult(slope=1.428107287846695, intercept=8.737073409470376, rvalue=0.7516370180538008, pvalue=0.0, stderr=0.0012443865002280021, intercept_stderr=0.030779745295015183)

In [52]:
# 미세, 초미세 농도 결측값 회귀추정하여 대체
df['PM10']=df['PM10'].fillna(8.65+1.433*df['PM2.5'])
df['PM2.5']=df['PM2.5'].fillna(4.8+0.394*df['PM10'])

In [54]:
df.to_csv('관측소2018~2022_수정.csv', index=False)